<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risk Assessment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <form id="riskForm" method="POST" action="/" onsubmit="return handleFormSubmit(event)">
        <div class="form-group">
          <h2 class="heading">Credit Information</h2>
          
          <div class="controls">
            <input type="number" id="person_age" class="floatLabel" name="person_age" min="18" max="100" step="1" required>
            <label for="person_age">Age</label>
          </div>
          
          <div class="controls">
            <input type="number" id="person_income" class="floatLabel" name="person_income" step="0.01" placeholder="Enter annual income" required>
            <label for="person_income">Income (₹)</label>
          </div>
      
          <div class="controls">
            <i class="fa fa-sort"></i>
            <select id="person_home_ownership" class="floatLabel" name="person_home_ownership" required>
              <option value=""></option>
              <option value="own">Own</option>
              <option value="rent">Rent</option>
              <option value="mortgage">Mortgage</option>
            </select>
            <label for="person_home_ownership">Home Ownership</label>
          </div>
          
          <div class="controls">
            <input type="number" id="loan_amnt" class="floatLabel" name="loan_amnt" step="0.01" placeholder="Enter loan amount" required>
            <label for="loan_amnt">Loan Amount (₹)</label>
          </div>
      
          <div class="controls">
            <input type="number" id="loan_int_rate" class="floatLabel" name="loan_int_rate" step="0.01" placeholder="Enter loan interest rate" required>
            <label for="loan_int_rate">Loan Interest Rate (%)</label>
          </div>
      
          <div class="controls">
            <input type="number" id="loan_percent_income" class="floatLabel" name="loan_percent_income" step="0.01" placeholder="Loan percent of income" required>
            <label for="loan_percent_income">Loan Percent of Income (%)</label>
          </div>
      
          <div class="controls">
            <i class="fa fa-sort"></i>
            <select id="cb_person_default_on_file" class="floatLabel" name="cb_person_default_on_file" required>
              <option value=""></option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
            <label for="cb_person_default_on_file">Default on File</label>
          </div>
      
          <button type="submit" value="Submit" class="col-1-4">Submit</button>
        </div>
    </form>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>