<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Information</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/location_styles.css') }}">
    
</head>
<body>
    <header>
        <h2>Location Analysis</h2>
    </header>

    <div id="location">
        <h3>Your Location:</h3>
        <p id="lat">Fetching latitude...</p>
        <p id="long">Fetching longitude...</p>
        <p id="city"></p>
    </div>

    <div class="redirect-button">
        <button onclick="redirectToPsychometric()">Go to Psychometric Test</button>
    </div>

    <div class="info-text">
        <p>Note: We need your location to provide personalized information.</p>
    </div>
    <script src="{{ url_for('static', filename='js/location_scripts.js') }}"></script>
</body>
</html>