<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Transaction Pattern Assessment</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/salary_styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bank Transactions Assessment</h1>
        <h2>Upload Last 6 Months Bank Statement for Assessment</h2>
        
        <form action="/generate-risk-score" method="POST" enctype="multipart/form-data">
            <label for="pdf_file">Upload PDF:</label>
            <input type="file" id="pdf_file" name="pdf_file" accept=".pdf" required>
            <div class="button-container">
                <button type="submit">Generate Risk Score</button>
            </div>
        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        {% if result %}
            <div class="result">
                <pre>{{result}}</pre>
            </div>

            <div class="next-button">
                <form action="/location" method="GET">
                    <button type="submit">Next</button>
                </form>
            </div>
        {% endif %}
    </div>
</body>
</html>